.caixa {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 3px solid black;
    margin: 5px;
}

.escuro { /* Não está no html */
    background-color: black;
    color: white;
}