.personalizar1 {
    color: orange;
    background-color: lightpink;
    border: 5px solid green;
    }

    .personalizar2 {
        color: yellow;
        background-color: blue;
        border: 5px solid red;
    }