#cor {
    border-radius: 30px;
    width: 80px;
    border: 0;
    height: 20px;
    background-color: blue;
    color: white;
}

#aumentar {
    border-radius: 30px;
    width: 80px;
    border: 0;
    height: 20px;
    background-color: rgb(50, 201, 30);
    color: white;
}

#diminuir {
    border-radius: 30px;
    width: 80px;
    border: 0;
    height: 20px;
    background-color: rgb(214, 201, 18);
    color: white;
}

#troca {
    border-radius: 30px;
    width: 80px;
    border: 0;
    height: 20px;
    background-color: rgb(219, 115, 30);
    color: white;
}

#esconde {
    border-radius: 30px;
    width: 80px;
    border: 0;
    height: 20px;
    background-color: rgb(255, 51, 0);
    color: white;
}

#mais {
    border-radius: 30px;
    width: 80px;
    border: 0;
    height: 20px;
    background-color: rgb(10, 202, 216);
    color: white;
}

#menos {
    border-radius: 30px;
    width: 80px;
    border: 0;
    height: 20px;
    background-color: rgb(10, 202, 216);
    color: white;
}

#zerar {
    border-radius: 30px;
    width: 80px;
    border: 0;
    height: 20px;
    background-color: rgb(10, 202, 216);
    color: white;
}